Repository Dyalog/documentation, pull requests merged in 2025-07, with the labels that each got.

#375 Ensure we don't backup-the-backup
  tools/jenkins/.rsync-exclude
  tools/jenkins/Jenkinsfile
Labels: tools, jenkins

#391 Remove emoji extensions globally.
  mkdocs.yml
Labels: meta

#392 Disable footnote-links in CHM
  chm/mkdocs2chm.py
Labels: bug, CHM

#399 Update docs deployment to include PDFs from the current SVN repository.
  .github/workflows/mkdocs-publish.yml
  tools/jenkins/.rsync-exclude
  tools/jenkins/Jenkinsfile
  tools/jenkins/get_svn_docbin
Labels: jenkins

#402 Also check out the script "get_svn_docbin"
  .github/workflows/mkdocs-publish.yml
Labels: bug, tools, automation, jenkins

#405 Add "dyalogscript" as a synonym to the shell-scripts.md page
  windows-installation-and-configuration-guide/docs/shell-scripts.md
Labels: search
